/*....media queries....*/
/* Mobile Devices */
@media only screen and (max-width: 767px) {
    /* CSS rules for small screens and mobile devices */
    .items{
        display: none;
    }
    .ham_bgr img{
        display: block;
        height: 50px;
        width: 50px;
    }
    .footer{
        height: 400px;
        display: block;
        text-align: center;
        
    }
    
    .f-p-1 p{
        width: 100%;
        font-size: 12px;
    }
    .f-p-1 img{
        height: 60px;
    }
    .f-p-1{
        width:100%;
    }
    .f-p-2 ul li a{
        font-size: 12px;
        line-height: 1rem;
    }
    .f-p-3 ul li a{
        font-size: 12px;
        line-height: 1rem;
    }
    .f-p-4{
        margin-top: 10px;
    }
    .f-p-4 img{
        height: 40px;
        margin-top:0px;
    }
    .f-p-4 ul{
        margin-top: 10px;
        gap: 1rem;
    }
    .f-p-4 ul li{
        border-radius: 0%;
        border: none;
        background: transparent;
    }
    .f-p-4 ul li a{
        color:#fff;
    }
    .foot-sec2{
        padding:10px;
    }
    .t-p{
        font-size: 12px;
        line-height: 1.2rem;
    }
  }
  
  /* Tablets and Small Laptops */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for tablets and small laptops */
    /*hamburger visisble*/
    .items{
        display:none;
    }
    .ham_bgr img{
        display: block;
        height: 50px;
        width: 50px;
    }
 
    .f-p-1 p{
        font-size: 12px;
    }
    .footer{
        gap:0rem;
        padding: 15px;
    }
    .f-p-2 ul li a{
        font-size: 12px;
    }
    .f-p-3 ul li a{
        font-size: 12px;
    }
    .f-p-4 img{
        height: 50px;
    }
    .f-p-4 ul {
        gap:0rem;
    }
    .f-p-4 ul li{
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
    }
    .f-p-4 ul li a{
        color: #fff;
        font-size: 0.9rem;
    }
    .t-p{
        font-size: 13px;
    }
  }
  
  /* Medium-sized Laptops and Desktops */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for medium-sized laptops and desktops */
    .items{
        display: flex;
    }
    .ham_bgr img{
        display: none;
    }
   
    .f-p-4 ul li{
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #8fff00;
    }
    .f-p-4 ul li a{
        color: #17181F;
        font-size: 1.2rem;
    }
  }
  
  /* Large Laptops and Desktops */
  @media only screen and (min-width: 1200px) {
    /* CSS rules for large laptops and desktops */
  }
  
  /* Landscape Viewports */
  @media only screen and (orientation: landscape) {
    /* CSS rules for landscape orientation */
  }
  
  /* Portrait Viewports */
  @media only screen and (orientation: portrait) {
    /* CSS rules for portrait orientation */
  }
  
  /* High-resolution Displays (Retina) */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min--moz-device-pixel-ratio: 2),
         only screen and (-o-min-device-pixel-ratio: 2/1),
         only screen and (min-device-pixel-ratio: 2),
         only screen and (min-resolution: 192dpi),
         only screen and (min-resolution: 2dppx) {
    /* CSS rules for high-resolution displays */
  }